<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<script src="./node_modules/chart.js/src/chart.js"></script>
<div class="content" role="main">

    <!-- Next Steps -->
  <h2>Employee Details</h2>


  <input type="hidden" #selection>

  
 
 

<div class="container">    
     
  <table class="table table-bordered table-hover">    
    <tr>    
      <th>Id</th>    
      <th>Name</th>    
      <th>Gender</th>    
      <th>Mobile</th>    
    </tr>    
    <tr *ngFor="let item of xmlItems">    
      <td>{{item.id}}</td>    
      <td>{{item.name}}</td>    
      <td>{{item.gender}}</td>    
      <td>{{item.mobile}}</td>    
    </tr>    
  </table>
  
  <button (click)="handleClick()">Click Me </button>
  
  
  <a (click)="handleClick()" href="javascript:undefined">
  <i class="la la-upload"></i>
</a>
 

<input class="hidden" type="file" id="upload-file" name="upload-file" accept=".xml" ngf-max-size="20MB" (change)="addAttachment($event)">
 <!--<div *ngFor = "let post of posts">
  <button (click)="callFunction($event,post)">Submit</button>
  </div>-->
  
  
    <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
   <div>
      <router-outlet>
      </router-outlet>
  </div>
</div>



 <!-- Footer -->
  
     
     

 

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


